@font-face {
	font-family: 'Thirsty Script';
	src: url('./fonts/365400_0_0.eot');
	src: url('./fonts/365400_0_0.eot?#iefix') format('embedded-opentype'),
		url('./fonts/365400_0_0.woff2') format('woff2'),
		url('./fonts/365400_0_0.woff') format('woff'),
		url('./fonts/365400_0_0.ttf') format('truetype'),
		url('./fonts/365400_0_0.svg#wf') format('svg');
}

@font-face {
	font-family: 'Project Soft';
	font-weight: bold;
	font-style: normal;
	src: url('./fonts/365400_1_0.eot');
	src: url('./fonts/365400_1_0.eot?#iefix') format('embedded-opentype'),
		url('./fonts/365400_1_0.woff2') format('woff2'),
		url('./fonts/365400_1_0.woff') format('woff'),
		url('./fonts/365400_1_0.ttf') format('truetype'),
		url('./fonts/365400_1_0.svg#wf') format('svg');
}

@font-face {
	font-family: 'Project Soft';
	font-weight: normal;
	font-style: normal;
	src: url('./fonts/365400_2_0.eot');
	src: url('./fonts/365400_2_0.eot?#iefix') format('embedded-opentype'),
		url('./fonts/365400_2_0.woff2') format('woff2'),
		url('./fonts/365400_2_0.woff') format('woff'),
		url('./fonts/365400_2_0.ttf') format('truetype'),
		url('./fonts/365400_2_0.svg#wf') format('svg');
}

// Import google Lato font
//@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
