// =============================================================================
// Bootstrap
// =============================================================================

// Fonts
@import './fonts';

// Required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// Optional
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/buttons';

@import '~bootstrap/scss/utilities/flex';
@import '~bootstrap/scss/utilities/display';
@import '~bootstrap/scss/utilities/spacing';
@import '~bootstrap/scss/utilities/sizing';

//
@import './_mixins/colors';

//
@import './home';
@import './header';
@import './footer';
@import './blog';

#app {
	background-color: #282c34;
	color: white;
	min-height: 100vh;
	padding-top: 80px;
}

h1,
h2,
h3,
h4 {
	font-family: 'Project Soft', sans-serif;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
